<div class="col-md-4 col-md-offset-4" >
  <h2>新增商品</h2>
  <hr>


  <%= simple_form_for [:admin, @product] do |f| %>
  <div class="form-product">
    <%= f.input :title, :lable => "标题", input_html: {class: "form-control"} %>
    <%= f.input :description, :label => "描述", input_html: {class: "form-control"} %>
    <%= f.input :quantity, :label => "数量", input_html: {class: "form-control"} %>
    <%= f.input :price, :label => "价格", input_html: {class: "form-control"} %>
  </div>


  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.submit "提交", class: "btn btn-primary", data: {disable_with: "Submiting..."} %>
  <% end %>

</div>
